<div class="editor_pannel">
    <mat-tab-group *ngIf="tabsArray.length" animationDuration="0ms" [selectedIndex]="selectedTab">
        <mat-tab *ngFor="let tab of tabsArray;let i = index">
            <ng-template mat-tab-label>
                {{tab.file.filename}}
                <mat-icon class="close_icon" (click)="closeTab(i)">close</mat-icon>
            </ng-template>
            <app-editor [file]="tab"></app-editor>
        </mat-tab>
    </mat-tab-group>
    <div *ngIf="!tabsArray.length" class="code2Rock_icon">Code2Rock</div>
</div>