/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
    list-style-type: none;
}

li {
    padding: 3px 0;
}

li span {
    display: flex;
    align-items: center;
}
li span mat-icon{
    margin-right: 5px;
}

ul,li {
    cursor: pointer;
}

.editor_pannel .mat-tab-group .mat-tab-body-content {
    overflow: hidden;
}

.editor_pannel .mat-tab-group .mat-tab-body-wrapper{
    height: 100% !important;
}

.editor_pannel .mat-tab-group .mat-tab-label .mat-tab-label-content {
    justify-content: space-between !important;
    width: 100%;
}

.editor_pannel .mat-tab-group .mat-tab-label {
    padding: 0 0 0 24px;
}

.pad0 {
    padding: 0 !important;
}