<div class="file_explorer">
  <mat-list>
    <span mat-subheader>/</span>
    <mat-list-item *ngFor="let file of files">
      <mat-icon mat-list-icon>{{file?.isDir?'folder':'note'}}</mat-icon>
      <span mat-line (click)="getFileData(file)">{{file?.filename}}</span>
    </mat-list-item>
  </mat-list>
</div>

<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree> -->